#bongo-cat {
    position: fixed;
    bottom: 0px;
    right: 75px;
    width: 200px;
    height: 200px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


@keyframes floaty {
    0%  { transform: translateY(0px); }
    50% {transform: translateY(-6px); }
    100% { transform: translateY(0px); }
}

@keyframes bop {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-3px);}
}

#bongo-cat {
    animation: floaty 2.8s ease-in-out infinite;
}

#bongo-cat.drum {
    transform: translateY(-4px);
}